/*Body*/
body {
	max-width: 1600px;
}


/*Landing page*/


.top-line {
	height: 102px;
	position: fixed;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	top: 0;
	width: 100%;
}

#logo {
	background-image: url(../images/logo.jpg);
	background-color: #26b864;
	display: block;
	background-repeat: no-repeat;
	height: 102px;
	width: 340px;
	float: left;
}
#logo h1  {
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 102px;
	display: block;
	text-align: center;
}
#logo a {
	color: white;
	text-decoration: none;
}


/*Hamburger*/
.gallery-container {
	position: relative;
	right: 0;
	left: 0;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

.gallery {
	position: relative;
	margin-top: 102px;
}


.topnav {
	overflow: hidden;
	background-color: rgb(22,22,22);
	text-align: center;
	height: 102px
	z-index: 3;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	margin-top: 25px;
	height: 77px;
}

.topnav a:hover {
	background-color: rgb(22,22,22);
	color: #26b864;
	text-decoration: none;
}

/*.topnav a:active {
	background: url(../images/active-state.png) no-repeat;
	background-position: center 30px;
}*/



.topnav .icon {
	display: none;
}

@media screen and (max-width: 992px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon, a.icon:hover {
		float: right;
		display: block;
		font-size: 40px;
		background-color: rgb(22,22,22);
		color: #fff;
		text-decoration: none;
		margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
	.topnav.responsive {
		position: relative;
		z-index: 99999;
  }
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
  }
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
  }

}



/*Sliders*/

#bx-pager  {
	height: 145px;
	background-color: rgb(22,22,22);
}
#bx-pager img {
	width: 170px;
	height: 80px;
}
#bx-pager img:last-child {
	margin-right: 30px;
}
.front {
	text-align: center;
	padding-top: 30px;
}
element .style {
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
}
.bx-wrapper .bx-viewport {
	border: none; 
	box-shadow: none;
	left: 0;
}

/*Banner*/
.banner-name {
	position: relative;
	float: right;
	margin-top: -250px;
	margin-right: 60px;
	display: block;
	width: 355px;
	height: 76px;
	background-color: white;
	z-index: 1;
}
.banner_name h2 {
	position: relative;
	font-size: 30px;
	font-family: "Open Sans", Arial, sans-serif;
}
h2 {
	margin-left: 10px;
}

/*Slider's buttons*/
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 88%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}
@media screen and (max-width: 642px) {
	.bx-controls-direction {
		display: none;
	}
}