/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.service-icon {
		width: 230px;
		height: 120px;
	}
}

/* 1042px */
@media only screen and (max-width : 1042px) {

/* 1032px */
@media only screen and (max-width : 1032px) {
	.last_image img  {
		margin-top: 30px;
	}
	#bx-pager  {
		height: 240px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.topnav a {
		margin-top: 0;
	}
	.topnav a:first-child {
		margin-top: 25px;
	}
	#bx-pager {
		display: none;
	}
	.banner-name {
		margin-top: -180px;
	}

	.section-label-1, .section-label-2 {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#logo {
		background-image: none;
		width: 170px;
	}
	#logo h1 {
		text-align: center;
	}
	.topnav a:nth-of-type(2) {
		height: 20px;
	}
	.banner-name {
		display: none;
	}
	.section-title {
	 	margin-top: 750px;
	 }
	.section-title-2 {
	 	margin-top: 0px;
	 }
	.item-small {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.contact-map {
		text-align: center;
		margin-bottom: 50px;
	}
	.contact-form {
		max-width: 400px;
		margin: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.container {
    	padding-right: 15px;
    }
    .promo {
		margin-bottom: 0px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}