body {
  font-family: 'Gotham Book Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff; }

h1 {
  font-weight: 500;
  font-size: 120px; }

h2 {
  font-weight: 400;
  font-size: 80px; }

h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px; }

h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px; }

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px; }

h6 {
  font-size: 12px;
  font-weight: bold; }

p {
  color: #848789;
  line-height: 30px; }

.sec {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center; }

.title {
  text-align: center; }

header {
  min-height: 500px;
  background-color: #fff;
  text-transform: uppercase; }
  header .top {
    background-color: #fff; }
    header .top .navbar, header .top .navbar-inverse {
      border-radius: 0;
      border: none;
      margin-bottom: 0;
      min-height: 80px; }
    header .top .navbar-toggle {
      margin-top: -42px; }
    header .top .navbar-toggle .icon-bar {
      background-color: #303030; }
    header .top .navbar-nav li {
      margin: 0;
      margin-top: 15px;
      font-size: 12px; }
      header .top .navbar-nav li a {
        color: #bdbdbd; }
      header .top .navbar-nav li .main_logo {
        font-size: 25px;
        color: #4c4c4c;
        text-align: left; }
    header .top .navbar-inverse .navbar-nav li a {
      color: #ffffff;
      padding: 30px 25px 33px 25px; }
    header .top .navbar-inverse .navbar-nav li a:hover {
      background-color: #444444;
      transition: 0.7s all linear;
      height: 100%; }
    header .top .nav li {
      display: inline;
      color: white; }
  header .logo {
    margin: auto;
    position: relative;
    z-index: 2;
    background-image: url("../img/bg.png");
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    height: 100vh; }
    header .logo .title {
      margin-top: 150px; }
      header .logo .title p {
        font-family: 'Georgia', sans-serif;
        font-size: 16px;
        font-style: italic;
        text-transform: none; }
    header .logo .button {
      text-align: center;
      margin-top: 70px; }
      header .logo .button #play:hover {
        width: 100px;
        height: 100px;
        background-color: #ecedec; }

.btn-top {
  width: 50px;
  height: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 700;
  color: #525252;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.4);
  transition: border .9s ease 0s;
  cursor: pointer;
  outline: none; }

.btn-top:hover {
  transform: scale(1.2);
  border: 10px solid #eeefed; }

.section-one {
  min-height: 910px;
  background-color: #ffffff; }
  .section-one .container {
    margin-right: 0;
    margin-left: 0; }
  .section-one .title {
    margin-top: 25px;
    text-transform: uppercase; }
    .section-one .title h4 {
      margin-bottom: 0; }
    .section-one .title hr {
      border-top: 3px solid #303030; }
  .section-one p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 16px;
    line-height: 24px; }
  .section-one .row {
    margin: auto; }
  .section-one .gallery {
    margin-top: 40px; }
    .section-one .gallery div {
      margin-left: auto;
      margin-right: auto;
      display: block; }
    .section-one .gallery div:hover {
      opacity: 0.5; }
    .section-one .gallery img {
      width: 260px;
      height: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      display: block; }

.section-two {
  min-height: 530px;
  background-color: #f3f3f3; }
  .section-two .title {
    margin-top: 25px;
    text-transform: uppercase; }
    .section-two .title h4 {
      margin-bottom: 0; }
    .section-two .title hr {
      border-top: 3px solid #303030; }
  .section-two p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 16px;
    line-height: 24px; }
  .section-two .team {
    text-align: center;
    margin-top: 50px; }
    .section-two .team div {
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .section-two .team div .team-item-box {
        width: 80%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      .section-two .team div h5 {
        text-transform: uppercase; }
      .section-two .team div p {
        font-family: 'Georgia', sans-serif;
        font-size: 12px;
        font-style: italic;
        color: #474747; }
      .section-two .team div .fa {
        padding-right: 15px;
        color: #7f7f7f; }

@media only screen and (max-width: 991px) {
  .section-two .team div .team-item-box {
    margin-bottom: 40px; } }

@media only screen and (max-width: 768px) {
  .section-two .team div .team-item-box {
    width: 50%; } }

.section-three {
  min-height: 570px;
  background-color: #ffffff; }
  .section-three .title {
    margin-top: 25px;
    text-transform: uppercase; }
    .section-three .title h4 {
      margin-bottom: 0; }
    .section-three .title hr {
      border-top: 3px solid #303030; }
  .section-three p {
    text-align: center;
    margin-top: 20px;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 16px;
    line-height: 25px; }
  .section-three .contacts {
    margin-top: 20px; }
    .section-three .contacts #map {
      width: 100%;
      height: 310px;
      border: 6px solid #ffffff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      background-color: grey; }
    .section-three .contacts .contact-form input, .section-three .contacts .contact-form textarea {
      margin-bottom: 9px;
      background-color: #f6f7f8;
      padding: 14px;
      font-size: 14px;
      color: #838383;
      outline: 0;
      border: 0;
      border-bottom: 1px solid #b5c1c9;
      width: 100%;
      font-family: 'Georgia', sans-serif;
      font-size: 16px;
      font-style: italic; }
    .section-three .contacts .contact-form input {
      height: 60px; }
    .section-three .contacts .contact-form textarea {
      height: 235px; }
    .section-three .contacts .contact-form button {
      height: 60px;
      background-color: #6995a9;
      color: #ffffff;
      font-family: 'Gotham Book Regular', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      border: 0;
      border-radius: 0;
      transition: all 0.5s ease 0s; }
    .section-three .contacts .contact-form button:hover {
      background-color: #2a586d; }
    .section-three .contacts .contact-form .fa {
      padding-right: 10px; }

@media only screen and (max-width: 768px) {
  .section-three .contact-form {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media only screen and (max-width: 768px) {
  .section-three .contacts #map {
    padding: 10px; } }

footer {
  min-height: 80px;
  background-color: #4f4f4f; }
  footer .footer-item {
    margin-top: 30px; }
    footer .footer-item p {
      font-family: 'Proxima Nova Light', sans-serif;
      font-size: 16px;
      font-weight: 300; }
      footer .footer-item p a {
        color: inherit;
        text-decoration: none; }
      footer .footer-item p a:hover {
        color: #ffffff; }
