/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1120px) {

}	
/* 1042px */
@media only screen and (max-width : 1080px) {

/* 1032px */
@media only screen and (max-width : 1032px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.section-two .team div .team-item-box {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width : 880px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

@media only screen and (max-width : 690px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 630px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}