body 
	font-family: 'Gotham Book Regular', sans-serif
	font-weight: 400
	font-size: 16px
	background-color: #ffffff
h1 
	font-weight: 500
	font-size: 120px
h2 
	font-weight: 400
	font-size: 80px
h3 
	font-weight: 600
	font-size: 40px
	line-height: 60px
h4
	font-weight: 600
	font-size: 30px
	line-height: 30px
h5
	font-weight: 600
	font-size: 16px
	line-height: 16px
h6
	font-size: 12px
	font-weight: bold
p
	color: #848789
	line-height: 30px
.sec 
	position: relative
	background-size: cover
	background-position: center
	text-align: center

.title
	text-align: center



header
	min-height: 500px
	background-color: #fff
	text-transform: uppercase
	.top
		background-color: #fff
		.navbar, .navbar-inverse
			border-radius: 0
			border: none
			margin-bottom: 0
			min-height: 80px
		.navbar-toggle
			margin-top: -42px
		.navbar-toggle .icon-bar
			background-color: #303030
		.navbar-nav li
			margin: 0
			margin-top: 15px
			font-size: 12px
			a
				color: #bdbdbd 
			.main_logo
				font-size: 25px
				color: #4c4c4c
				text-align: left
		.navbar-inverse .navbar-nav li a 
			color: #ffffff
			padding: 30px 25px 33px 25px
		.navbar-inverse .navbar-nav li a:hover 
			background-color: #444444
			transition: 0.7s all linear
			height: 100%
		.nav li 
			display: inline
			color: white
	.logo
		margin: auto
		position: relative
		z-index: 2
		background-image: url("../img/bg.png")
		position: relative
		background-size: cover
		background-position: center
		min-height: 500px
		height: 100vh
		.title
			margin-top: 150px
			p 
				font-family: 'Georgia', sans-serif
				font-size: 16px
				font-style: italic
				text-transform: none
		.button 
			text-align: center
			margin-top: 70px
			#play:hover
				width: 100px
				height: 100px
				background-color: #ecedec

.btn-top
	width: 50px
	height: 50px
	font-family: 'PT Sans', sans-serif
	font-size: 14px
	letter-spacing: 0
	font-weight: 700
	color: #525252
	background-color: #ffffff
	border: none
	border-radius: 25px
	box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.4)
	transition: border .9s ease 0s
	cursor: pointer
	outline: none
	transform .9s

.btn-top:hover 
	transform: scale(1.2)
	border: 10px solid #eeefed

  


.section-one
	min-height: 910px
	background-color: #ffffff
	.container
		margin-right: 0
		margin-left: 0
	.title
		margin-top: 25px
		text-transform: uppercase
		h4
			margin-bottom: 0
		hr
			border-top: 3px solid #303030
	p 
		text-align: center
		margin-top: 10px
		font-family: 'Proxima Nova Light', sans-serif
		font-size: 16px
		line-height: 24px
	.row 
		margin: auto
	.gallery 
		margin-top: 40px
		div
			margin-left: auto
			margin-right: auto
			display: block
		div:hover 
			opacity: 0.5
		img
			width: 260px
			height: 170px
			margin-left: auto
			margin-right: auto
			margin-bottom: 60px
			display: block
		

.section-two
	min-height: 530px
	background-color: #f3f3f3
	.title
		margin-top: 25px
		text-transform: uppercase
		h4
			margin-bottom: 0
		hr
			border-top: 3px solid #303030
	p 
		text-align: center
		margin-top: 10px
		font-family: 'Proxima Nova Light', sans-serif
		font-size: 16px
		line-height: 24px
	.team
		text-align: center
		margin-top: 50px
		div
			margin-left: auto
			margin-right: auto
			display: block
			.team-item-box
				width: 80%
				padding-top: 15px
				padding-bottom: 15px
				margin-bottom: 0
				background-color: #ffffff
				box-shadow: 0 0 5px rgba(0,0,0,0.5)
			h5
				text-transform: uppercase
			p 
				font-family: 'Georgia', sans-serif
				font-size: 12px
				font-style: italic
				color: #474747
			.fa 
				padding-right: 15px
				color: #7f7f7f

@media only screen and (max-width: 991px)
  .section-two .team div .team-item-box
    margin-bottom: 40px

@media only screen and (max-width: 768px)
  .section-two .team div .team-item-box
    width: 50%
	


.section-three
	min-height: 570px
	background-color: #ffffff
	.title
		margin-top: 25px
		text-transform: uppercase
		h4
			margin-bottom: 0
		hr
			border-top: 3px solid #303030
	p 
		text-align: center
		margin-top: 20px
		font-family: 'Proxima Nova Light', sans-serif
		font-size: 16px
		line-height: 25px
	.contacts
		margin-top: 20px
		#map 
			width: 100%
			height: 310px
			border: 6px solid #ffffff
			box-shadow: 0 0 5px rgba(0,0,0,0.5)
			background-color: grey
		.contact-form
			input, textarea 
				margin-bottom: 9px
				background-color: #f6f7f8
				padding: 14px
				font-size: 14px
				color: #838383
				outline: 0
				border: 0
				border-bottom: 1px solid #b5c1c9
				width: 100%
				font-family: 'Georgia', sans-serif
				font-size: 16px
				font-style: italic
			input
				height: 60px
			textarea 
				height: 235px
			button 
				height: 60px
				background-color: #6995a9
				color: #ffffff
				font-family: 'Gotham Book Regular', sans-serif
				font-size: 16px
				text-transform: uppercase
				font-weight: 600
				border: 0
				border-radius: 0
				transition: all 0.5s ease 0s
			button:hover
				background-color: #2a586d
			.fa
				padding-right: 10px

@media only screen and (max-width: 768px)
  .section-three .contact-form
    margin-top: 30px
    margin-bottom: 30px
	
@media only screen and (max-width: 768px)
  .section-three .contacts #map
    padding: 10px




footer
	min-height: 80px
	background-color: #4f4f4f
	.footer-item
		margin-top: 30px
		p 
			font-family: 'Proxima Nova Light', sans-serif
			font-size: 16px
			font-weight: 300
			a 
				color: inherit
				text-decoration: none
			a:hover
				color: #ffffff

