body 
	font-family: 'Exo', sans-serif
	font-weight: 500
	font-style: medium
	font-size: 16px

h1 
	font-weight: 100
	font-style: thin
	font-size: 60px

h2
	font-size: 40px

h4 
	font-size: 22px

.container 
	margin: 0
	width: auto

.title 
	color: #ff6d6d

input:focus
	border-shadow: none

input:active, input:hover, input:focus 
	outline: none !important
	outline-offset: 0
	
header
	background-image: url("../img/logo.png")
	min-height: 600px
	height: 100vh
	position: relative
	background-size: cover
	background-position: center
	z-index: 3
	.logo
		z-index: 2
		margin: auto
		h1 
			margin-top: 200px
			margin-bottom: 0
			text-align: center
		i
			margin-top: 50px
			text-align: center
			color: #8286a4
		.btn 
			margin-top: 35px
			height: 50px
			border: none
			text-align: center
			background-color: #ff6d6d
			color: #ffffff
			font-weight: 400
			font-style: regular 
			font-size: 16px
			padding-top: 15px
			margin-left: 46%
			-webkit-transition-duration: 0.4s 
			transition-duration: 0.4s
		.btn:hover, .btn:active, .btn:visited
			border: none
			background-color: #cc5757
			color: #ffffff
		p 
			color: #7b7b7c
			font-family: 'Exo', sans-serif
			font-weight: 400
			font-style: regular 
			font-size: 14px
			text-align: center

.section-one
	height: 700px
	margin-top: 180px
	.left
		z-index: 2
		position: absolute
		opacity: 0
		transform: translateY(50px)
		transition: all 2s ease-out
	.fade-in
		opacity: 1
		transform: translateY(0)
	.right
		width: 50%
		height: 880px
		margin-top: -180px
		margin-left: 50%
		background-color: #ececec
		position: relative
		svg
			position: absolute
			bottom: 0%
			left: 0%

.section-two
	height: 670px
	background-color: #f6f5f3
	z-index: 3
	position: relative
	.magic-title
		opacity: 0
		transform: translateY(50px)
		transition: all 2s ease-out
	.fade-in
		opacity: 1
		transform: translateY(0)
	.title
		text-align: center
		padding-top: 130px
	h2
		color: black
		text-align: center
	.features 
		text-align: center
		margin-top: 50px
	.bg-features
		min-height: 250px
		background-repeat: no-repeat
		position: relative
		background-size: auto
	.bg-f-1 
		background-image: url("../img/bg-f-1.png")
		background-color: #f6f5f3
		background-position: 30% 0%	
	.bg-f-2
		background-image: url("../img/bg-f-2.png")
	.bg-f-3
		background-image: url("../img/bg-f-3.png")
		margin-top: 30px

.section-three
	height: 550px
	svg 
		margin-top: -75px
		margin-left: -15px
	.bg-responsive
		background-image: url("../img/macbook.png")
		min-height: 350px
		background-repeat: no-repeat
		position: relative
		background-size: contain
		margin-top: -450px
	p 
		margin-top: 40px
	.magic-title-2
		opacity: 0
		transform: translateY(50px)
		transition: all 2s ease-out
	.fade-in
		opacity: 1
		transform: translateY(0)
	.title
		margin-top: 0px 
	.article 
		z-index: 2
		position: absolute

.section-four
	height: 640px
	background-image: url("../img/bg-four.png")
	min-height: 500px
	position: relative
	background-size: cover
	background-position: center
	margin-top: -50px
	.reviews
		text-align: center
		margin-top: 100px
		color: #ffffff
		opacity: 0
		transform: translateY(0px)
		transition: all 2s ease-out
	.fade-in
		opacity: 1
		transform: translateY(0)
		.reviews-items
			padding: 0 
	.rewards
		text-align: center
		margin-top: 40px

.section-five
	height: 650px
	background-color: #f6f5f3
	opacity: 0
	transform: translateY(50px)
	transition: all 2s ease-out
.fade-in
	opacity: 1
	transform: translateY(0)
	.intro
		margin-top: 100px
		text-align: center
		p 
			margin-top: 45px
	.window
		height: 450px
		background-image: url("../img/1.png")
		min-height: 370px
		background-repeat: no-repeat
		position: relative
		background-size: contain
		margin-top: 6px
		position: relative

.section-six
	height: 460px
	background-color: #323969
	z-index: 2
	position: relative
	h2
		color: #ffffff
		text-align: center
	.title 
		text-align: center
		margin-top: 0px
	.btn
		border: none
		background-color: #ff6d6d
		color: #ffffff
		font-weight: 400
		font-style: regular 
		font-size: 16px
		display: inline-block
		padding-right: 40pxs
		margin-top: 20px
		-webkit-transition-duration: 0.4s 
		transition-duration: 0.4s
	.btn:hover, .btn:active, .btn:visited
		border: none
		background-color: #cc5757
		color: #ffffff
	.terms
		margin-top: 40px
		color: #ffffff
	input:active, input:hover, input:focus 
		border: 1px solid #ffffff

.form-inline
	margin-top: 10px

.form-group
	margin-right: 30px
	margin-top: 20px

.form-control
	font-family: 'Exo', sans-serif
	font-weight: 500
	font-size: 16px
	color: #ffffff
	background-color: #464c77

footer
	height: 330px
	.row
		margin-top: 80px
		margin-left: 10px
		z-index: 2
		position: absolute
	a 
		display: block
		text-align: left
		color: #ff6d6d
	.form-control
		font-family: 'Exo', sans-serif
		font-weight: 500
		font-size: 16px
		color: #ffffff
		background-color: #f6f6f6
	.btn-default
		background-color: #ff6d6d
		-webkit-transition-duration: 0.4s 
		transition-duration: 0.4s
	.btn:hover, .btn:active, .btn:visited
		background-color: #cc5757
		color: #ffffff
	i 
		color: #ffffff
	.social 
		margin-top: 10px
		i 
			color: #cbcbcb
			padding-right: 15px
	



