body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f7f7f7; }

h1 {
  font-weight: 500;
  font-size: 120px; }

h2 {
  font-weight: 400;
  font-size: 80px; }

h3 {
  font-weight: 300;
  font-size: 60px; }

h4 {
  font-size: 18px;
  font-weight: bold; }

h5 {
  font-size: 14px;
  font-weight: bold; }

h6 {
  font-size: 12px;
  font-weight: bold; }

p {
  color: #848789;
  line-height: 30px; }

.sec {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center; }

header {
  background-image: url("../img/bg.png");
  min-height: 600px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center; }
  header .logo {
    margin: auto;
    position: relative;
    z-index: 2; }
    header .logo .logo-item {
      text-align: center;
      margin-top: 10px;
      color: #4d4959;
      margin-top: 60px;
      font-size: 13px;
      font-weight: bold; }
    header .logo img {
      margin-top: -37px; }

.section-one {
  min-height: 470px;
  background-color: #f7f7f7; }
  .section-one .container {
    margin-right: 0;
    margin-left: 0; }
  .section-one .row {
    text-align: center; }
    .section-one .row img {
      margin-top: 110px; }
    .section-one .row h4 {
      margin-top: 25px; }
    .section-one .row p {
      margin-top: 25px; }

.section-two .sec2-bg-1 {
  background-image: url("../img/sec2-bg-1.png");
  min-height: 580px; }
  .section-two .sec2-bg-1 .sec2-icon {
    margin-top: 230px; }

.section-two .col-md-4 {
  padding: 0; }

.section-two .sec2-box {
  min-height: 400px;
  position: relative;
  text-align: center; }
  .section-two .sec2-box img {
    margin-top: 70px; }
  .section-two .sec2-box h4 {
    margin-top: 25px; }
  .section-two .sec2-box .text {
    padding-left: 20px;
    padding-right: 20px; }
  .section-two .sec2-box p {
    margin-top: 25px;
    text-align: left; }

.section-two .sec2-bg-2 {
  background-image: url("../img/sec2-bg-2.png");
  min-height: 170px; }

.section-three .sec3-bg-1 {
  background-image: url("../img/sec3-bg-2.png");
  min-height: 170px; }

.section-three .sec3-bg-2 {
  background-image: url("../img/sec3-bg-1.png");
  min-height: 580px; }
  .section-three .sec3-bg-2 .sec3-icon {
    margin-top: 230px; }

.section-three .col-md-4 {
  padding: 0; }

.section-three .sec3-box {
  min-height: 400px;
  position: relative;
  text-align: center; }
  .section-three .sec3-box img {
    margin-top: 70px; }
  .section-three .sec3-box h4 {
    margin-top: 25px; }
  .section-three .sec3-box .text {
    padding-left: 35px;
    padding-right: 10px; }
  .section-three .sec3-box p {
    margin-top: 25px;
    text-align: left; }

.section-four .sec4-bg-1 {
  background-image: url("../img/sec4-bg-1.png");
  min-height: 580px; }
  .section-four .sec4-bg-1 .sec4-icon {
    margin-top: 230px; }

.section-four .col-md-4 {
  padding: 0; }

.section-four .sec4-box {
  min-height: 400px;
  position: relative;
  text-align: center; }
  .section-four .sec4-box img {
    margin-top: 70px; }
  .section-four .sec4-box h4 {
    margin-top: 25px; }
  .section-four .sec4-box .text {
    padding-left: 35px;
    padding-right: 10px; }
  .section-four .sec4-box p {
    margin-top: 25px;
    text-align: left; }

.section-four .sec4-bg-2 {
  background-image: url("../img/sec4-bg-2.png");
  min-height: 170px; }

.section-four .sec4-bg-3 {
  background-image: url("../img/sec4-bg-3.png");
  min-height: 580px; }

.section-five {
  min-height: 450px;
  background-color: #f7f7f7; }

.carousel-indicators {
  top: 250px; }
  .carousel-indicators li {
    color: black;
    border: 1px solid #a9afb3; }
  .carousel-indicators .active {
    background-color: #a9afb3; }

.carousel-inner {
  margin: auto;
  margin-top: 115px;
  text-align: center; }
  .carousel-inner h4 {
    margin-top: 30px;
    margin-bottom: 20px; }
  .carousel-inner p {
    display: inline;
    font-weight: 300;
    font-size: 24px;
    font-style: italic; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: inline; }

.section-six {
  min-height: 515px; }
  .section-six .sec {
    opacity: 1;
      opacity-filter: alpha(opacity=100); }
  .section-six .sec:hover {
    opacity: 0.5;
      opacity-filter: alpha(opacity=50); }
  .section-six .sec6-bg-1-1 {
    background-image: url("../img/sec6-bg-1-1.png");
    min-height: 265px; }
  .section-six .sec6-bg-1-2 {
    background-image: url("../img/sec6-bg-1-2.png");
    min-height: 265px; }
  .section-six .sec6-bg-1-3 {
    background-image: url("../img/sec6-bg-1-3.png");
    min-height: 250px; }
  .section-six .sec-bg-2 {
    padding: 0; }
  .section-six .sec6-bg-2-1 {
    background-image: url("../img/sec6-bg-2-1.png");
    min-height: 515px; }
  .section-six .sec6-bg-2-2 {
    background-image: url("../img/sec6-bg-2-2.png");
    min-height: 515px; }
  .section-six .sec6-bg-3-1 {
    background-image: url("../img/sec6-bg-3-1.png");
    min-height: 257.2px;
    text-align: center; }
  .section-six .sec6-bg-3-2 {
    background-image: url("../img/sec6-bg-3-2.png");
    min-height: 257.2px; }
  .section-six .sec6-icon {
    margin-top: 100px; }
    .section-six .sec6-icon h5 {
      color: #fff; }

.section-seven {
  min-height: 165px;
  background-color: #282f35; }
  .section-seven .sec-btn {
    margin-top: 70px;
    color: #fff;
    text-align: center; }
    .section-seven .sec-btn a {
      margin-top: 70px;
      border: 1px solid #fff;
      padding: 10px 35px;
      text-decoration: none;
      color: #fff; }

.section-eight {
  min-height: 450px;
  background-color: #fff; }
  .section-eight .form {
    text-align: center; }
  .section-eight img {
    margin-top: 100px; }
  .section-eight p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 24px;
    font-style: italic; }
  .section-eight .input-group {
    margin-top: 25px; }
    .section-eight .input-group .form-control {
      height: 45px;
      border-radius: 0px; }
    .section-eight .input-group input {
      font-weight: 300;
      font-size: 20px;
      font-style: italic; }
    .section-eight .input-group button {
      height: 45px;
      border-radius: 0px;
      margin-left: 5px;
      padding: 10px 20px;
      background-color: #64c29e;
      border: #64c29e;
      color: #fff; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: 5px; }

footer {
  min-height: 250px; }
  footer .footer-item {
    margin-top: 90px;
    text-align: center; }
    footer .footer-item h6 {
      margin: 0; }
    footer .footer-item p {
      margin: 0;
      font-weight: 300;
      font-size: 14px;
      font-style: italic;
      line-height: 20px; }
  footer .icons img {
    padding-right: 20px; }
  footer .author img {
    margin-left: 15px; }
