/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

/*** DEMO SKIN ***/
.sf-menu {
  float: left;
  margin-bottom: 1em; }

.sf-menu ul {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  *width: 12em;
  /* no auto sub width for IE7, see white-space comment below */ }

.sf-menu a {
  border-left: 1px solid #fff;
  border-top: 1px solid #dFeEFF;
  /* fallback colour must use full shorthand */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */ }

.sf-menu a {
  color: #13a; }

.sf-menu li {
  background: #BDD2FF;
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  transition: background .2s; }

.sf-menu ul li {
  background: #AABDE6; }

.sf-menu ul ul li {
  background: #9AAEDB; }

.sf-menu li:hover,
.sf-menu li.sfHover {
  background: #CFDEFF;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */ }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px; }

h1 {
  font-weight: 500;
  font-size: 120px; }

h2 {
  font-weight: 400;
  font-size: 80px; }

h3 {
  font-weight: 300;
  font-size: 60px; }

header {
  background-image: url("../img/pexels-photo.jpeg");
  min-height: 600px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 50px; }
  header .logo {
    margin: auto;
    position: relative;
    z-index: 2; }
    header .logo h1 {
      text-align: center;
      margin-top: 100px;
      color: #fff; }
    header .logo h2 {
      text-align: center;
      margin-top: 20px;
      color: #fff; }
  header .intro {
    color: #fff;
    font-size: 20px;
    margin: auto;
    margin-top: 50px; }
    header .intro .col-md-12 {
      text-align: center; }
  header .nav-glob {
    color: #fff;
    margin: auto;
    margin-top: 120px; }
    header .nav-glob .nav-item {
      text-align: center; }
    header .nav-glob .text {
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      padding: 5px 15px;
      display: block;
      color: #fff; }
    header .nav-glob a, header .nav-glob a:hover, header .nav-glob a:visited {
      color: #fff;
      text-decoration: none;
      transition: .5s ease; }
    header .nav-glob a:hover {
      background-color: #4CAF50;
      border: 1px solid #4CAF50; }

.section-one {
  min-height: 600px;
  margin-bottom: 50px; }
  .section-one .title {
    border-top: 1px solid #dee0df;
    margin-top: 100px; }
    .section-one .title .col-md-12 {
      top: -50px;
      text-align: center; }
      .section-one .title .col-md-12 span {
        font-weight: 200;
        font-size: 50px;
        color: #525252;
        background: #fff;
        padding: 0 20px; }
  .section-one .col-md-4 {
    padding-right: 0;
    padding-left: 25px; }
  .section-one .images {
    margin-top: 50px; }
    .section-one .images img {
      width: 100%;
      height: 100%;
      margin: 0 10px 25px 0;
      transition: 0.5s ease;
        transition-backface-visibility: hidden; }
    .section-one .images .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
    .section-one .images .img-item:hover img {
      opacity: 0.3; }
    .section-one .images .img-item:hover .middle {
      opacity: 1; }
    .section-one .images .text {
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      padding: 16px 32px; }

.section-two {
  min-height: 500px;
  margin-bottom: 50px; }
  .section-two .title {
    border-top: 1px solid #dee0df;
    margin-top: 100px; }
  .section-two .col-md-12 {
    top: -50px;
    text-align: center; }
    .section-two .col-md-12 span {
      font-weight: 200;
      font-size: 50px;
      color: #525252;
      background: #fff;
      padding: 0 20px; }
  .section-two .skils {
    margin-top: 50px; }
  .section-two .skils-item {
    text-align: center;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 15px 10px 10px;
    display: block;
    height: 180px; }
  .section-two .skils-item:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(31, 31, 31, 0.5); }
  .section-two i {
    font-size: 40px; }

.section-three {
  min-height: 400px; }
  .section-three .title {
    border-top: 1px solid #dee0df;
    margin-top: 100px; }
  .section-three .col-md-12 {
    top: -50px;
    text-align: center; }
    .section-three .col-md-12 span {
      font-weight: 200;
      font-size: 50px;
      color: #525252;
      background: #fff;
      padding: 0 20px; }
  .section-three .contacts {
    margin-top: 10px; }
    .section-three .contacts .contact-item {
      text-align: center;
      color: #525252; }
      .section-three .contacts .contact-item i {
        font-size: 30px; }
      .section-three .contacts .contact-item a, .section-three .contacts .contact-item a:hover, .section-three .contacts .contact-item a:visited {
        color: #525252;
        text-decoration: underline; }

footer {
  min-height: 50px;
  background-color: #4CAF50; }
