body 
	font-family: 'Lato', sans-serif
	font-weight: 400
	font-size: 16px
	background-color: #f7f7f7
h1 
	font-weight: 500
	font-size: 120px
h2 
	font-weight: 400
	font-size: 80px
h3 
	font-weight: 300
	font-size: 60px
h4
	font-size: 18px
	font-weight: bold
h5
	font-size: 14px
	font-weight: bold
h6
	font-size: 12px
	font-weight: bold
p
	color: #848789
	line-height: 30px
.sec 
	position: relative
	background-size: cover
	background-position: center
	text-align: center



header
	background-image: url("../img/bg.png")
	min-height: 600px
	height: 100vh
	position: relative
	background-size: cover
	background-position: center
	.logo
		margin: auto
		position: relative
		z-index: 2
		.logo-item
			text-align: center
			margin-top: 10px
			color: #4d4959
			margin-top: 60px
			font-size: 13px
			font-weight: bold
		img
			margin-top: -37px


.section-one
	min-height: 470px
	background-color: #f7f7f7
	.container
		margin-right: 0
		margin-left: 0
	.row
		text-align: center
		img
			margin-top: 110px
		h4
			margin-top: 25px
		p 
			margin-top: 25px


.section-two
	.sec2-bg-1
		background-image: url("../img/sec2-bg-1.png")
		min-height: 580px
		.sec2-icon
			margin-top: 230px
	.col-md-4
		padding: 0
	.sec2-box
		min-height: 400px
		position: relative
		text-align: center
		img
			margin-top: 70px
		h4
			margin-top: 25px
		.text
			padding-left: 20px
			padding-right: 20px
		p 
			margin-top: 25px
			text-align: left
	.sec2-bg-2
		background-image: url("../img/sec2-bg-2.png")
		min-height: 170px

	


.section-three
	.sec3-bg-1
		background-image: url("../img/sec3-bg-2.png")
		min-height: 170px
	.sec3-bg-2
		background-image: url("../img/sec3-bg-1.png")
		min-height: 580px
		.sec3-icon
			margin-top: 230px
	.col-md-4
		padding: 0
	.sec3-box
		min-height: 400px
		position: relative
		text-align: center
		img
			margin-top: 70px
		h4
			margin-top: 25px
		.text
			padding-left: 35px
			padding-right: 10px
		p 
			margin-top: 25px
			text-align: left




.section-four
	.sec4-bg-1
		background-image: url("../img/sec4-bg-1.png")
		min-height: 580px
		.sec4-icon
			margin-top: 230px
	.col-md-4
		padding: 0
	.sec4-box
		min-height: 400px
		position: relative
		text-align: center
		img
			margin-top: 70px
		h4
			margin-top: 25px
		.text
			padding-left: 35px
			padding-right: 10px
		p 
			margin-top: 25px
			text-align: left
	.sec4-bg-2
		background-image: url("../img/sec4-bg-2.png")
		min-height: 170px
	.sec4-bg-3
		background-image: url("../img/sec4-bg-3.png")
		min-height: 580px




.section-five
	min-height: 450px
	background-color: #f7f7f7

.carousel-indicators 
	top: 250px
	li
		color: black
		border: 1px solid #a9afb3
	.active
		background-color: #a9afb3

.carousel-inner
	margin: auto
	margin-top: 115px
	text-align: center
	h4 
		margin-top: 30px
		margin-bottom: 20px
	p 
		display: inline
		font-weight: 300
		font-size: 24px
		font-style: italic


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img
	display: inline




.section-six
	min-height: 515px
	.sec
		opacity: 1.0
    	filter: alpha(opacity=100)
	.sec:hover
		opacity: 0.5
    	filter: alpha(opacity=50)
	.sec6-bg-1-1
		background-image: url("../img/sec6-bg-1-1.png")
		min-height: 265px
	.sec6-bg-1-2
		background-image: url("../img/sec6-bg-1-2.png")
		min-height: 265px
	.sec6-bg-1-3
		background-image: url("../img/sec6-bg-1-3.png")
		min-height: 250px
	.sec-bg-2
		padding: 0
	.sec6-bg-2-1
		background-image: url("../img/sec6-bg-2-1.png")
		min-height: 515px
	.sec6-bg-2-2
		background-image: url("../img/sec6-bg-2-2.png")
		min-height: 515px
	.sec6-bg-3-1
		background-image: url("../img/sec6-bg-3-1.png")
		min-height: 257.2px
		text-align: center
	.sec6-bg-3-2
		background-image: url("../img/sec6-bg-3-2.png")
		min-height: 257.2px
	.sec6-icon
		margin-top: 100px
		h5
			color: #fff



.section-seven
	min-height: 165px
	background-color: #282f35
	.sec-btn
		margin-top: 70px
		color: #fff
		text-align: center
		a 
			margin-top: 70px
			border: 1px solid #fff
			padding: 10px 35px
			text-decoration: none
			color: #fff


.section-eight
	min-height: 450px
	background-color: #fff
	.form
		text-align: center
	img
		margin-top: 100px
	p 
		margin-top: 30px
		font-weight: 300
		font-size: 24px
		font-style: italic
	.input-group
		margin-top: 25px
		.form-control
			height: 45px
			border-radius: 0px
		input
			font-weight: 300
			font-size: 20px
			font-style: italic
		button
			height: 45px
			border-radius: 0px
			margin-left: 5px
			padding: 10px 20px
			background-color: #64c29e
			border: #64c29e
			color: #fff

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group 
	margin-left: 5px


footer
	min-height: 250px
	.footer-item
		margin-top: 90px
		text-align: center
		h6
			margin: 0
		p 
			margin: 0
			font-weight: 300
			font-size: 14px
			font-style: italic
			line-height: 20px
	.icons
		img
			padding-right: 20px	
	.author
		img
			margin-left: 15px